<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="../properties/gazebo.xacro" />

  <gazebo>
    <plugin
      name="gazebo_ros_joint_state_publisher"
      filename="libgazebo_ros_joint_state_publisher.${plugin_ext}"
    >
      <update_rate>${joint_state_rate}</update_rate>
      <joint_name>robot::left_wheel_joint</joint_name>
      <joint_name>robot::right_wheel_joint</joint_name>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin
      name="libgazebo_ros_diff_drive"
      filename="libgazebo_ros_diff_drive.${plugin_ext}"
    >
      <left_joint>robot::left_wheel_joint</left_joint>
      <right_joint>robot::right_wheel_joint</right_joint>
      <wheel_separation>${wheel_separation}</wheel_separation>
      <wheel_diameter>${wheel_diameter}</wheel_diameter>

      <max_wheel_torque>${max_wheel_torque}</max_wheel_torque>
      <max_wheel_acceleration>${max_wheel_acceleration}</max_wheel_acceleration>

      <odometry_frame>odom</odometry_frame>
      <robot_base_frame>base_link</robot_base_frame>

      <publish_odom>true</publish_odom>
      <publish_odom_tf>true</publish_odom_tf>
      <publish_wheel_tf>true</publish_wheel_tf>
    </plugin>
  </gazebo>

</robot>